#info{
    background-color: #FFFFFF;
    justify-content: space-evenly;
    color: #127981;
    border: 3px solid #008080;
    border-radius: 15px;
    flex: auto;
    width: 50%;
    font-family: "Ariel";
    font-size: larger;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: flex-start;
    text-align: left;
    
}
.toggle{
    border-radius: 100%;
    color: #008080;
    border-color: #0cae91;
    top: 200px;
    flex: auto;
    padding-top: 7px;
    text-align: center;
    justify-self: auto;
    position: relative;
    display: flex;
    min-height: 35px;
    min-width: 35px;
    justify-content: center;
}
#fwd{
    
    
    left:1200px;
}
#bkd{
    
    top: 170px;
    left:20px;
}
#venue{
    padding-right: 25px;
    justify-content: flex-start;
    text-align: left;
    padding-left: 50px;
    background-color: #FFFFFF;
    justify-content: space-evenly;
    border: 3px solid #008080;
    color: #008080;
    border-radius: 15px;
    flex: auto;
    width: 40%;
    font-family: "Ariel";
    font-size: larger;
    padding-left: 25px;
    
}
#about{
    font-family: "Ariel";
    color: #FFFFFF;
    padding-left: 25px;
}
body{
    background-image: linear-gradient(#0cae91, #043057);
}
img{
    padding: 0%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    justify-self: auto;
    border: 3px solid#fdfdfd;
    border-radius: 15px;
}
.topnav {
    background-color:#FFFFFF;
    border-radius: 20px;
    height: 35px;
    overflow: hidden;
}  

.topnav li:hover {
    background-color: #127981;
    color: #FFFFFF;
  }
li{
    color: #008080;
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    margin-left: 25px;
}