*{
    margin: 0;
    padding: 0;

}
.bg{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(15, 16, 15, 0.477),rgba(38, 44, 46, 0.509)), url(images/sgnp1.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 4%;
    padding-right: 2%;
    box-sizing: border-box;
    overflow-x: hidden;
}
.info{
    font-size: small;
    margin-left: 5%;
    font-family: 'Roboto Condensed', sans-serif;
    width: 40%;
    color: rgb(185, 176, 176);
}
.Timings{
    font-size: small;
    margin-left: 5%;
    font-family: 'Roboto Condensed', sans-serif;
    width: 40%;
    color: rgb(185, 176, 176);
}
.navbar{
    height: 18%;
    display: flex;
    align-items: center;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-family: 'Arimo', sans-serif;
    align-content: right;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(18, 17, 17);
    font-size: 20px ;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li a:hover{
    color: rgb(5, 229, 250);
    
}